<mat-card class="plant-card">
    <mat-card-header class="plant-card-header">
      <mat-card-title-group>
        <mat-card-title>{{ plant.name }}</mat-card-title>
        <mat-card-subtitle>{{ plant.location }}</mat-card-subtitle>

        @if (this.plantService.isWateringOverdue(this.plant)) {
          <app-watering-overdue-indicator></app-watering-overdue-indicator> 
        } 
      </mat-card-title-group>
    </mat-card-header>
  
    @if (imageUrl) {
        <img mat-card-image [imageSrc]="imageUrl">
    }  
    <mat-card-content class="plant-card-content">
      <div>
        <b>Scientific Name:</b> {{ plant.scientificName }}
      </div>
      <div>
        <b>Description:</b> {{ plant.description }}
      </div>
      <div>
        <b>Notes:</b> {{ plant.notes }}
      </div>
 
      <div>
        <b>Watering Interval:</b> {{ plant.wateringInterval }} days
      </div>      
    </mat-card-content>
    <mat-card-actions align="end">      
        <a [routerLink]="['/details', plant.id]">
          <button mat-button >Details</button>
        </a>
        <button mat-flat-button color="primary" (click)="triggerWatering()" [disabled]="wateringButtonDisabled">Add Watering</button>
    </mat-card-actions>

    
  </mat-card>