<h2 mat-dialog-title>Edit Device</h2>
<mat-dialog-content>
  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">    
    <mat-form-field>
      <mat-label>Device Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" >
    </mat-form-field>    
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes" >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Minimum humidity (250-750)</mat-label>
      <input matInput type="number" formControlName="minimumSoilHumidity" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Watering interval (s)</mat-label>
      <input matInput type="number" formControlName="wateringIntervalSetting" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Watering duration (s)</mat-label>
      <input matInput type="number" formControlName="wateringDurationSetting" required>
    </mat-form-field>
    @if (imageUrl){
      <div>
        <img [imageSrc]="imageUrl" alt="Device Image" style="max-width: 100%; height: auto;">
        <button type="button" mat-button (click)="onRemoveImage()">Remove Image</button>
      </div>
    } @else {
      <button type="button" mat-button (click)="fileInput.click()">Add Image</button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept="image/png, image/gif, image/jpeg">
      <span class="file-name">{{selectedFile?.name}}</span>
    }   
    
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [disabled]="deviceForm.invalid || !formChanged" (click)="onSubmit()">Update</button>
</mat-dialog-actions>