<app-loading-indicator [detectRouteTransitions]="true"></app-loading-indicator>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over"  position="end" class="sidenav">
    @if (userInfo) {
      <div class="user-info">{{ userInfo.email }}</div>
    }   
    <mat-nav-list class="sidenav-list">        
      <a mat-list-item routerLink="/home" (click)="sidenav.close()">Home</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    @if (showToolbar) {
      <mat-toolbar>  
        <a routerLink="/home" class="logo">
          <span >Kangla</span>
        </a>
        <span class="spacer"></span>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>      
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
