

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over"  position="end" class="sidenav">
      <mat-nav-list>          
          <a mat-list-item routerLink="/home" (click)="sidenav.close()">Home</a>
          <a mat-list-item routerLink="/details" (click)="sidenav.close()">Details</a>
        </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>  
      <span>Kangla</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
