////////////////////////////////////////////////////////////////////////
//////////////////////////// Material Theme ////////////////////////////
////////////////////////////////////////////////////////////////////////

@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$spring-green-palette,
    ),
    density: (
        scale: 0
    )
));

html {
  @include mat.all-component-themes($theme);
}

.primary-chip {
    background-color: mat.get-theme-color($theme, primary, 95) !important;
    
}

////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
    width: 100%;
}

//pages

.page-container {
    max-width: 1200px; 
    margin: 0 auto;    
    padding: 16px;
}

.page-title {
    text-align: center;
}

.main-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 1rem;
    gap: 1rem;
}

.paginator-container {
    display: flex;
    justify-content: center;
}

.paginator-container .mat-mdc-paginator-container {
    justify-content: center;
}

//auth pages
.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
  
.auth-card {
    max-width: 500px;
    margin: 2rem
}

.auth-card form {
    margin-top: 1rem;
}

.auth-card .auth-card-actions {
    padding-inline: 1rem;
    padding-block: 1rem;
}

//text-styles
.text-centered {
    text-align: center;
}

.full-width {
    width: 100%;
}